/* подключение шрифтов и переменных для цветов */
@font-face {
  font-family: "PTSans";
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --main-font: "PTSans", system-ui, "Arial", sans-serif;

  --page_background: #F2F2F2;
  --first_background-color: #FFFFFF;
  --second_background-color: #E6F0F6;
  --third_background-color: #F0F5F9;
  --fourth_background-color: #82B3D3;
  --first-font-color: #000000;
  --second-font-color: rgba(255, 255, 255, 1);
  --error: #FF5757;

  --input-background-color: #F2F2F2;
  --input-background-color__active: #E6E6E6;
  --input-background-font-color: #F2F2F2;

  --button__first-color: #756157;
  --button__first-color_active: #615048;
  --button__second-color: #82B3D3;
  --button__second-color_active: #68A2CA;
  --button__third-color: #7DB54F;
  --button__third-color_active: #6C9E42;
  --button__disabled-color: #E5E5E5;

  --footer__social-color: #83B3D3;
  --footer__social-color_active: #68A2CA;
  --footer__social-color_disabled: #D2E4F0;
  --footer__font-color: #000000;
  --footer__font-color_active: #756157;
  --footer__font-color_disabled: #D6D0CD;
}

/* Глобальные слили, а также универсальные обертки для модулей */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--page_background);
  font-family: var(--main-font);
}

.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page h1 {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.page h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.page h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration-color: inherit;
}

a {
  text-decoration: none;
}

button,
input {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

figure {
  margin: 0;
}

img {
  margin: 0;
  padding: 0;
  object-fit: contain;
  box-sizing: border-box;
  vertical-align: middle;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--first_background-color);
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.25);
}

.title {
  margin: 0;
  font-weight: 700;
  margin-bottom: 20px;
}

.button {
  padding: 8px 50px;
  text-align: center;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--second-font-color);
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(50, 50, 50, 0.25);
  box-sizing: border-box;
  background-color: var(--button__first-color);
}

.button__primary {}

.button__secondary {
  padding: 8px 18px;
}


/* верстка header */

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 64px;
  min-height: 64px;
  padding: 0 70px;
}

.header__logo-image {
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
  position: relative;
  z-index: 5;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 25px;
  gap: 16px;
  align-items: center;
}

.header__nav-item {
  font-weight: 700;
}

.header__nav-link {
  font-size: 20px;
  line-height: 24px;
  color: var(--first-font-color);
}

.header__userbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
  margin-left: auto;
  align-items: center;
}

.header__favorites {
  position: relative;
}

.header__favorites-icon {
  width: 18px;
  height: 17px;
}

.header__favorites-count {
  position: absolute;
  top: -12px;
  left: 8px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  background-color: var(--button__third-color);
  color: var(--second-font-color);
  border-radius: 50%;
}

/* стили для main Главной страницы */

.hero {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 auto;
  max-width: 1200px;
  background-color: var(--first_background-color);

}

.hero__image-wrapper {
  width: 1200px;
  height: 485px;
  margin: 0;
  background-image: url("/img/index-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__image {
  width: 100%;
  height: 485px;
  background-position: center;
  object-fit: cover;
}

.hero__text-image {
  margin-top: 51px;
  display: block;
  width: 100%;
}

.hero::before {
  content: "";
  position: absolute;
  top: 428px;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url("/svg/decoration.svg");
  background-repeat: no-repeat;
  z-index: 10;
}

.hero__title {
  max-width: 700px;
  margin: 0 auto;

  margin-top: 69px;
  text-align: center;
}

.hero__text {
  font-size: 22px;
  margin: 25px auto;
  line-height: 26px;
}

.advantages {
  display: grid;
  grid-template-columns: 1fr, 1fr 1fr;
}

.advantages__item {
  background-color: var(--third_background-color);
}

.advantages__item:nth-child(3) {
  background-color: var(--second_background-color);
}


.inform__block {
  width: 400px;
  height: 385px;
  padding: 80px 85px;
  text-align: center;
  box-sizing: border-box;
}


.advanced-item {
  grid-column: span 3;
  background-color: var(--fourth_background-color);
  color: var(--second-font-color);
}

.advanced__item-wrapper {
  display: flex;
}

.offers {}

.offers__text {
  max-width: 700px;
  margin: 0 auto;
  padding: 64px 0;
  text-align: center;
}

.offers__title {}

.offers__content {
  display: flex;
}

.offers__item {
  background-color: var(--third_background-color);
}

.offers__item:nth-child(2) {
  background-color: var(--first_background-color);
}

.offers__item-image {
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.offers__item-category {
  margin-bottom: 30px;
}

.offers__item-description {}

/* стили для Каталога */

.filter__section {
  padding: 35px 70px 70px 70px;
  background-image: url("/img/catalog-bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  color: var(--second-font-color);
}

.catalog-page__title {
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style: none;
  gap: 20px;
}

.breadcrumbs__icon {
  width: 13px;
  height: 15px;

  color: var(--first-font-color);
  font-size: 15px;
  line-height: 15px;
  display: block;
  align-items: center;
  margin-top: 3px;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -13px;
  width: 8px;
  height: 10px;
  background-image: url("/svg/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__link {
  color: var(--second-font-color);
  text-decoration: none;
}

.filter__form {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
}

.form__item {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  gap: 16px;
  margin: 0;
}

.form__item:last-child {
  margin: 0;
  margin-top: auto;
}

.filter__button-acept {
  width: 191px;
  background-color: var(--button__second-color);
}

.filter__button-reset {
  width: 191px;
  background-color: transparent;
}

.filter-results {
  padding: 50px 70px;
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  gap: 20px;
}

.filter-results__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
}

.filter-form__item {
  height: 48px;
  gap: 70px;
  background-color: var(--first_background-color);
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(50, 50, 50, 0.25);
  border: 2px solid transparent;
  box-sizing: border-box;
}

.filter-form__item:hover {
  border: 2px solid var(--first-font-color);
}

.filter-results__title {
  flex-direction: row;
  font-family: inherit;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.filter-results__select {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  padding: 14px 20px;
}

.filter-results__typing-button {
  background-color: var(--first_background-color);
  cursor: pointer;
  margin-right: 8px;
}

.filter-results__typing-button:last-child {
  margin-right: 0;
}

.filter-results__typing-image {
  width: 48px;
  height: 48px;
  padding: 17px 16px;
}

.hotel__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.hotel__card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  background-color: var(--first_background-color);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(50, 50, 50, 0.25);
  border: 2px solid transparent;
  box-sizing: border-box;
}

.hotel__card-image {
  width: 300px;
  height: 212px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 4px 4px 0 0;
}

.hotel__card-title {
  width: 100%;
  margin: 0;
}

.hotel__card-type {
  margin: 0;
}

.hotel__card-favorites {
  background-color: var(--button__second-color);
}

.hotel__card-favorites-added {
  background-color: var(--button__third-color);
}

.hotel__card-stars {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.hotel__card-raiting {
  padding: 9px 20px;
  background-color: var(--input-background-font-color);
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(50, 50, 50, 0.25);
  border: 2px solid transparent;
  box-sizing: border-box;
}


/* стили для footer */

.footer {
  padding: 30px 70px;
  display: flex;
  justify-content: space-between;
}

.offers__booking {
  padding: 96px 304px;
  text-align: center;
}

.offers__booking-title {
  padding-bottom: 20px;
}

.offers__booking-text {
  padding-bottom: 54px;
}

.offers__booking-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 304px;
  background-image: url("/img/form-bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--second-font-color);
  text-align: center
}

.subscribe__title {}

.subscribe__text {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  display: block;
}

.subscribe__form {
  width: 684px;
  position: relative;
  display: flex;
}

.subscribe__input {
  width: 452px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  background-color: var(--input-background-font-color);
  border-radius: 4px 0 0 4px;
}

.subscribe__button {
  width: 232px;
  font-size: 20px;
  line-height: 36px;
  background-color: var(--button__second-color);
  border-radius: 0 4px 4px 0;
}

.footer a {}

.footer__social {
  display: flex;
  gap: 10px;
}


.footer__social-link {
  width: 40px;
}

.footer__social-link,
.footer__phone-link,
.footer__site-link {
  color: var(--first-font-color);
  font-size: 40px;
  line-height: 40px;
  display: block;
  height: 40px;
  align-items: center;
}


.footer__social-image {
  padding: 9px;
}
