/* подключение шрифтов и переменных для цветов */
@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --main-font: "PTSans", system-ui, "Arial", sans-serif;

  --page_background: rgba(242, 242, 242, 1);
  --first_background-color: rgba(255, 255, 255, 1);
  --second_background-color: #E6F0F6;
  --third_background-color: #F0F5F9;
  --fourth_background-color: rgba(130, 179, 211, 1);
  --first-font-color: rgba(0, 0, 0, 1);
  --second-font-color: rgba(255, 255, 255, 1);
  --third-font-color: rgba(0, 0, 0, 0.3);
  --fourth-font-color: rgba(51, 51, 51, 1);
  --error: #FF5757;

  --input-background-color: rgba(242, 242, 242, 1);
  --input-background-color__active: #E6E6E6;
  --input-background-font-color__opacity6: rgba(0, 0, 0, 0.6);
  --input-background-font-color__opacity3: rgba(0, 0, 0, 0.3);

  --button__first-color: #756157;
  --button__first-color_active: #615048;
  --button__second-color: rgba(130, 179, 211, 1);
  --button__second-color_active: #68A2CA;
  --button__third-color: #7DB54F;
  --button__third-color_active: #6C9E42;
  --button__disabled-color: #E5E5E5;

  --border__color: rgba(229, 229, 229, 1);
  --border__decoration-color: rgba(0, 0, 0, 0.3);

  --footer__social-color: rgba(130, 179, 211, 1);
  --footer__social-color_active: #68A2CA;
  --footer__social-color_disabled: #D2E4F0;
  --footer__font-color: rgba(0, 0, 0, 1);
  --footer__font-color_active: #756157;
  --footer__font-color_disabled: #D6D0CD;
}

/* Глобальные слили, а также универсальные обертки для модулей */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--page_background);
  font-family: var(--main-font);
}

.page {
  height: 100%;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--first_background-color);
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.25);
}

.page h1 {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.page h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.page h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.page h4 {
  font-size: 20px;
  line-height: 24px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration-color: inherit;
}

a {
  text-decoration: none;
}

button,
input {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

figure {
  margin: 0;
}

img {
  margin: 0;
  padding: 0;
  object-fit: contain;
  box-sizing: border-box;
  vertical-align: middle;
}

.title {
  margin: 0;
  font-weight: 700;
  margin-bottom: 20px;
}

.subtitle {
  margin: 0;
  font-weight: 400;
  color: var(--fourth-font-color);
}

.button {
  padding: 8px 50px;
  text-align: center;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--second-font-color);
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(50, 50, 50, 0.25);
  box-sizing: border-box;
  background-color: var(--button__first-color);
}


.button__secondary {
  min-width: 140px;
  padding: 8px 18px;
}


/* верстка header */

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 64px;
  min-height: 64px;
  padding: 0 70px;
}

.header__logo-image {
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
  position: relative;
  z-index: 5;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 25px;
  gap: 16px;
  align-items: center;
}

.header__nav-item {
  font-weight: 700;
}

.header__nav-link {
  font-size: 20px;
  line-height: 24px;
  color: var(--first-font-color);
}

.header__userbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
  margin-left: auto;
  align-items: center;
}

.header__favorites {
  position: relative;
  margin-right: 20px;
}

.header__favorites-icon {
  width: 18px;
  height: 17px;
}

.header__favorites-count {
  position: absolute;
  top: -12px;
  left: 8px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  background-color: var(--button__third-color);
  color: var(--second-font-color);
  border-radius: 50%;
}

/* стили для main Главной страницы */

.hero {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 auto;
  max-width: 1200px;
  background-color: var(--first_background-color);

}

.hero__image-wrapper {
  width: 1200px;
  height: 485px;
  margin: 0;
  background-image: url("../img/index-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__image {
  width: 100%;
  height: 485px;
  background-position: center;
  object-fit: cover;
}

.hero__text-image {
  margin-top: 51px;
  display: block;
  width: 100%;
}

.hero::before {
  content: "";
  position: absolute;
  top: 428px;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url("../svg/decoration.svg");
  background-repeat: no-repeat;
  z-index: 10;
}

.advantages__section {
  min-height: 123px;
}

.advantages__section-title {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 69px;
  text-align: center;
}

.advantages__section-text {
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin: 25px auto;
  line-height: 26px;
}

.advantages {
  display: grid;
  grid-template-columns: 1fr, 1fr 1fr;
}

.advantages__item {
  background-color: var(--third_background-color);
}

.advantages__item:nth-child(3) {
  background-color: var(--second_background-color);
}


.inform__block {
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
  text-align: center;
  box-sizing: border-box;
}


.advanced-item {
  grid-column: span 3;
  background-color: var(--fourth_background-color);
  color: var(--second-font-color);
}

.advanced__item-wrapper {
  display: flex;
}


.offers__text {
  max-width: 700px;
  margin: 0 auto;
  padding: 64px 0;
  text-align: center;
}

.offers__content {
  display: flex;
}

.offers__item {
  background-color: var(--third_background-color);
}

.offers__item:nth-child(2) {
  background-color: var(--first_background-color);
}

.offers__item-image {
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.offers__item-category {
  margin-bottom: 30px;
}


/* стили для Каталога */

.filter__section {
  padding: 35px 70px 70px 70px;
  background-image: url("../img/catalog-bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  color: var(--second-font-color);
}

.catalog-page__title {
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style: none;
  gap: 20px;
}

.breadcrumbs__icon {
  width: 13px;
  height: 15px;

  color: var(--first-font-color);
  font-size: 15px;
  line-height: 15px;
  display: block;
  align-items: center;
  margin-top: 3px;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -13px;
  width: 8px;
  height: 10px;
  background-image: url("../svg/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__link {
  color: var(--second-font-color);
  text-decoration: none;
}

.filter__form {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 150px 150px 288px 191px);
  gap: 70px;
}

.form__item {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  gap: 16px;
  margin: 0;
}

.form__item:last-child {
  margin: 0;
  margin-top: auto;
}

.filter__cost {
  margin-left: auto;
}

.filter__cost-range {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2px;
  margin-bottom: 36px;
}

.cost-range__min,
.cost-range__max {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 146px;
  height: 48px;
  background-color: var(--page_background);
}

.cost-range__min {
  border-radius: 4px 0 0 4px;

}

.cost-range__max {
  border-radius: 0 4px 4px 0;
}

.cost-range__label {
  width: auto;
  padding: 20px 12px;
  font-size: 18px;
  line-height: 24px;
  text-transform: lowercase;
  color: var(--input-background-font-color__opacity3);
}

.cost-range__input {
  width: 100px;
  background-color: var(--page_background);
  text-align: start;
  padding-left: 20px;
  color: var(--first-font-color);
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
}

.cost-range__input:focus,
.cost-range__input:active {
  outline: none;
  border: none;
}

.filter__button-acept {
  min-width: 191px;
  background-color: var(--button__second-color);
}

.filter__button-reset {
  min-width: 191px;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.filter-results {
  padding: 40px 70px;
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  gap: 20px;
}

.filter-results__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  align-self: stretch;
  flex-wrap: wrap;
}



.filter-form__item {
  gap: 70px;
  background-color: var(--first_background-color);
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
}


.filter-results__title {
  flex-direction: row;
  font-family: inherit;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.filter-results__select {
  height: 49px;
  width: 292px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: var(--fourth_font-color);
  padding: 14px 20px;
  border: 2px solid var(--border__color);
}

.filter-results__select > option {
  color: var(--fourth-font-color);
}


.filter-results__typing-button {
  background-color: var(--first_background-color);
  cursor: pointer;
  margin-right: 8px;
  box-sizing: border-box;
}

.filter-results__typing-button:last-child {
  margin-right: 0;
}

.filter-results__typing-image {
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  vertical-align: middle;
  border-radius: 4px;
  border: 2px solid var(--border__color);
}

.filter-results__typing-image:hover,
.filter-results__select:hover {}

.hotel__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.hotel__card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  background-color: var(--first_background-color);
  padding: 20px;
  border-radius: 4px;
  border: 2px solid var(--border__color);
  box-sizing: border-box;
}

.hotel__card-image {
  width: 300px;
  height: 212px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 4px 4px 0 0;
}

.hotel__card-title {
  width: 100%;
  margin: 0;
}

.hotel__card-type,
.hotel__card-price {
  margin: 0;
  color: var(--fourth-font-color);
}

.hotel__card-favorites {
  background-color: var(--button__second-color);
}

.hotel__card-favorites-added {
  background-color: var(--button__third-color);
}

.hotel__card-stars {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 6px;
}

.hotel__card-raiting {
  min-width: 140px;
  padding: 9px 20px;
  font-size: 16px;
  line-height: 20px;
  color: var(--fourth-font-color);
  background-color: var(--input-background-color);
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
}

.pagination {
  margin: 0 70px;
  border-top: 1px solid var(--border__color);
  padding: 40px 0 60px 0;
}

.pagination__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  list-style-type: none;
}

.pagination__item {
  position: relative;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  background-color: var(--button__second-color);
  border-radius: 4px;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.pagination__link {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--second-font-color);
}

.pagination__item--active {
  background-color: var(--input-background-color);
}

.pagination__item--active a {
  color: var(--first-font-color);
}

.pagination__item:nth-child(4) {
  margin-right: 76px;
}

.pagination__item:last-child::before {
  content: "...";
  color: var(--first-font-color);
  position: absolute;
  top: 50%;
  right: 92px;
  transform: translateY(-50%);
  font-size: 26px;
}

/* стили для footer */

.footer {
  padding: 30px 70px;
  display: flex;
  justify-content: space-between;
}

.offers__booking {
  padding: 96px;
  text-align: center;
}

.offers__booking-title {
  padding-bottom: 20px;
}

.offers__booking-text {
  font-size: 22px;
  line-height: 26px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.offers__booking-button {
  font-size: 20px;
  line-height: 36px;
}

/* стили для subscribe */

.subscribe {
  padding: 96px;
  margin: 0 auto;
  background-image: url("../img/form-bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--second-font-color);
  text-align: center
}

.catalog-page__subscribe {
  background-image: none;
  color: var(--first-font-color);
}

.subscribe__text {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  display: block;
}

.subscribe__form {
  width: 684px;
  display: flex;
  margin: 0 auto;
}

.subscribe__input {
  width: 452px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  background-color: var(--input-background-color);
  border-radius: 4px 0 0 4px;
}

.subscribe__button {
  width: 232px;
  font-size: 20px;
  line-height: 36px;
  background-color: var(--button__second-color);
  border-radius: 0 4px 4px 0;
}

.footer__social {
  display: flex;
  gap: 10px;
}


.footer__social-link {
  width: 40px;
}

.footer__social-link,
.footer__phone-link,
.footer__site-link {
  color: var(--first-font-color);
  font-size: 40px;
  line-height: 40px;
  display: block;
  height: 40px;
  align-items: center;
}


.footer__social-image {
  padding: 9px;
}

/* стили для modal */


.modal-form__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(242, 242, 242, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-form__hidden {
  display: none;
}

.modal-form {
  position: relative;
  max-width: 717px;
  padding: 64px 70px;
  margin: 0 auto;
  background-color: var(--first_background-color);
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(1, auto);
}

.modal-form__dates {}

.modal-form__item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-bottom: 48px;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
}


.modal-form__title {
  margin-bottom: 64px;
}

.modal-form span,
.modal-form input {
  font-size: 18px;
  line-height: 20px;
}


.modal-form__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--input-background-color);
}

.modal-form__input {
  padding: 12px 20px;
  border-radius: 4px;
  margin-right: 24px;
  width: 320px;
  background-color: var(--input-background-color);
}

.modal-form__input-icon {
  width: 16px;
  height: 15px;
  margin-right: 22px;
  opacity: 0.3;
  cursor: pointer;
}

.modal-form__input-error-text,
.modal-form__input-text {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  left: 16px;
  font-size: 14px;
  line-height: 16px;
}

.modal-form__input-error-text {
  color: var(--error);
}

.modal-form__guests {
  width: 100%;
  justify-content: space-between;
  gap: 88px;
}

.modal-form__guest {
  width: 200px;
  height: 48px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  align-items: center;
  gap: 24px;
}

.modal-form__guest h4,
.modal-form__date h4 {
  margin: auto 0;
  margin-right: 24px;
}

.modal-form__guest-amount {
  display: flex;
  height: 48px;
  background-color: var(--input-background-color);
  align-content: center;
  text-align: center;
  box-sizing: border-box;
}


.modal-form__close {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--input-background-color);
  cursor: pointer;
}

.modal-form__close::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  content: '';
  width: 16px;
  height: 2px;
  background-color: var(--first-font-color);
}

.modal-form__close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  content: '';
  width: 16px;
  height: 2px;
  background-color: var(--first-font-color);
}

.modal-form__submit {
  background-color: var(--button__second-color);
  padding: 18px;
}
